---
layout: default
---


<style>
  .product-background-color 
   {background-color: {{page.shop-hero.colors.background-color}};}

  .shop h1
   {
   color: {{page.shop-hero.colors.heading-color}};
   font-family: {{page.shop-hero.fonts.heading-font}};
   }

  .shop h2
   {
   color: {{page.shop-hero.colors.subheading-color}};
   font-family: {{page.shop-hero.fonts.subheading-font}};
   }

   .shop h3, h4, h5, h6
   {
   color: {{page.shop-hero.colors.description-headings-color}};
   font-family: {{page.shop-hero.fonts.description-headings-font}};
   margin: 0px;
   }

   .shop p 
   {
   color: {{page.shop-hero.colors.text-color}};
   font-family: {{page.shop-hero.fonts.text-font}};
   }

   .product-price 
   {color: {{page.shop-hero.colors.product-price-color}};}

   .compare-at-price 
   {color: {{page.shop-hero.colors.discounted-price-color}};}

  .stars p
  {
  font-size: 1.5rem;
  color: {{page.shop-hero.colors.product-rating-color}};
  }

  .button-solid
  {
  background-color: {{page.shop-hero.colors.button-color}};
  /* color: {{page.shop-hero.colors.button-text-color}}; */
  border-radius: {{page.shop-hero.border-radius.top-left-corner}} {{page.shop-hero.border-radius.top-right-corner}} {{page.shop-hero.border-radius.bottom-right-corner}} {{page.shop-hero.border-radius.bottom-left-corner}};
  }

  .button-solid:hover
  {
  background-color: {{page.shop-hero.colors.button-hover-color}};
  /* color: {{page.shop-hero.colors.button-text-hover-color}}; */
  }

 </style>

<section class="shop padded product-background-color">
  <div class="padded-top grid-center">
    <div class="col-6_sm-12 shop-padded centered ">
      <img class="box-shadow" src="{{page.shop-hero.product-image}}" alt="" />
    </div>
    <div class="col-6_sm-12 grid">
      <div class="centered col-12">
        <h2>{{page.shop-hero.subheading}}</h2>
        <h1>{{page.shop-hero.product-name}}</h1>
        <p> <span class="product-price"> {{page.shop-hero.price}}</span><span class="compare-at-price">{{page.shop-hero.discounted-price}}</span></p>
      </div> 
      <div class="left col-12">
        <p> {{page.shop-hero.product-description_html}}
        </p>
      <div class="stars">
        <p>{{page.shop-hero.product-rating}}</p>
      </div>
    </div>
    </div>
   </div> 
  </section>
  <section class="shopify-button ">
    <div class="grid-center centered"> 
      <p> <a class="button-solid" href="{{page.shop-hero.button.button-link}}"> {{page.shop-hero.button.button-cta}}</a></p>
    </div>
  </section>  
</section>

{{content}}
